:host {
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
  margin: 0 var(--page-margin);
  position: relative;
  z-index: 10;
}

.Header {
  &-Logo {
    width: 150px;
    height: 40px;
    background-image: url("../../../assets/images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

  &-Links {
    display: flex;
    align-items: center;
    margin-right: -30px;

    a {
      font-size: 15px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 12px 20px;
      margin-right: 10px;
      margin-left: 10px;
      color: white;
      text-decoration: none;
      background-color: transparent;
      transition: .1s ease-in-out;
      border-radius: 8px;

      &:hover {
        background-color: #ffffff4f;
      }

      &:last-child {
        margin-right: 0;
      }

    }
  }
}

#header_admin {
  color: var(--accent-color);
}
