<app-header></app-header>
<app-card>
  <app-page-header>Донат</app-page-header>
  <form class="Form" [formGroup]='paymentForm' (submit)='payment()'>
    <div class="Field">
      <svg-icon class="Field-Icon" name="i-person"></svg-icon>
      <input formControlName='username' type='text' placeholder='Введите никнейм' [(ngModel)]='nickname'>
    </div>
    <div class="Field">
      <svg-icon class="Field-Icon" name="i-credit-card"></svg-icon>
      <input formControlName='value' type='text' placeholder='Сумма пополнения'>
    </div>
    <app-field-validator [show]="validator !== null">{{validator}}</app-field-validator>
    <app-button type='submit' [disabled]="inProgress">Пополнить счет</app-button>
  </form>
</app-card>
<app-footer footerLogo='{{pageData.footerLogo}}' footerDescription='{{pageData.footerCopyright}}' [social]='socialList'></app-footer>

