<app-header-admin></app-header-admin>
<div class='Column'>
  <h1>Серверы</h1>
</div>
<div class='Column'>
  <div class='Group' *ngFor='let server of contentData; let i = index'>
    <h3>Сервер {{i + 1}}</h3>
    <a (click)='delete(server.id)'>Удалить</a>
    <div class="Field">
      <label>Название</label>
      <input type='text' placeholder='Text' [(ngModel)]='server.name'>
    </div>
    <div class="Field">
      <label for='pageDescription'>Описание</label>
      <textarea id='pageDescription' placeholder='Multiline Text' [(ngModel)]='server.description'></textarea>
    </div>
    <div class="Field">
      <label>Изображение</label>
      <input type='text' placeholder='Text' [(ngModel)]='server.icon_src'>
    </div>
    <div class="Field">
      <label>Адрес</label>
      <input type='text' placeholder='Text' [(ngModel)]='server.stat_url'>
    </div>
  </div>
</div>

<div class='Footer'></div>

<div class='FixedButtons'>
  <app-button color='positive' size='s' (click)='add()'>Добавить</app-button>
  <app-button color='accent' size='s' [progressValue]='100' [progressBar]='dataUpdate' [disabled]='dataUpdate' (click)='update()'>Сохранить</app-button>
  <app-button color='destructive' size='s' [progressValue]='100' [progressBar]='contentData.length < 1' [disabled]='contentData.length < 1' (click)='cancel()'>Отмена</app-button>
</div>
